@import "normalize";

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.Container {
  margin: 0 auto;
  padding: 0 80px;
}
//header
.PageHeader {
  margin: 50px 0;
  text-align: center;
  
  h1 {
    font-size: 22px;
    letter-spacing: 0.2em;
    
  }
}
.ProductItemListWrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  .ProductItemList {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 0;
  }
  .Grid__Cell {
    animation-name: fadeInUp;
    animation-duration: 2s;
    display: inline-block;
    padding-left: 30px;
    width: 20%;
  }
  .ProductItem {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left: 0;
    /* CSS3淡出淡入效果,1秒 */
    transition: opacity 0.3s ease-in-out;
  }
  a {
    position: relative;
    width: 309px;
    height: 309px;
    display: block;

    img:nth-of-type(2):hover {
      opacity: 0; /*滑鼠滑入時，透明度變0*/
    }
  }
  .Heading {
    text-align: center;
    font-size: 12px;
    color: black;
    letter-spacing: 0.2em;
  }
  .ProductItem_Info {
    margin-top: 20px;
    .ProductItem_Title {
      margin-bottom: 5px;
    }

    .ProductItem_PriceList {
      margin-top: 10px;
      margin-bottom: 15px;
      color: #6a6a6a;
    }
    .ProductItem_ColorList {
      // box-sizing: border-box;
      border: solid 1px;
      margin: auto;
      width: 20px;
      height: 20px;
      .ProductItem_ColorItem {
        width: 20px;
        height: 20px;
        label {
          text-align: center;
          display: inline-block;
          background-image: url(/image/18k-gold.png);
          width: 16px;
          height: 16px;
          margin: 2px;
        }
      }
    }
  }
}
